#help_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;        
    height:560px;
    width:1000px;
    left: 25%;
    top: 20%;    
    background-color: #cde5f4;
    box-shadow: 0 0 8px 2px #ccc;
    padding: 10px 50px;   
    transform: 'translate(-50%, -50%)';
    z-index: 1000;    
}