.bg-custom { background-color: rgb(244, 191, 226) !important; }

.header_container {
    display: flex;       
    width: 100%; 
    justify-content: center;
    border-bottom: solid grey;
    background-color: rgb(244, 191, 226);
}
.nav_bar{
    display: flex;       
    width: 100%; 
    
}

.logo_detail{
    display: flex;
    justify-content:flex-start; 
    align-self: flex-start;   
    height: '20px';
}

.nav_menu_detail{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; 
    width: 80%;  
}

img {
     height: '80px';
     width: '80px';
}